.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swipeslider .slide1 {
    background-image: url(../images/listing/sample-Image1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 360px;
    background-repeat: no-repeat;
}
.swipeslider .slide2 {
    background-image: url(../images/listing/sample-Image2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 360px;
    background-repeat: no-repeat;
}
.swipeslider .slide3 {
    background-image: url(../images/listing/sample-Image3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 360px;
    background-repeat: no-repeat;
}

.swipeslider .onebed-slide1 {
    background-image: url(../images/listing/sample-Image1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}
.swipeslider .onebed-slide2 {
    background-image: url(../images/listing/sample-Image2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}
.swipeslider .onebed-slide3 {
    background-image: url(../images/listing/sample-Image3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}
.swipeslider .studio-slide1 {
    background-image: url(../images/listing/sample-Image1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}
.swipeslider .studio-slide2 {
    background-image: url(../images/listing/sample-Image2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}
.swipeslider .studio-slide3 {
    background-image: url(../images/listing/sample-Image3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}

.swipeslider .twobed-slide1 {
    background-image: url(../images/listing/sample-Image1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}
.swipeslider .twobed-slide2 {
    background-image: url(../images/listing/sample-Image2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}
.swipeslider .twobed-slide3 {
    background-image: url(../images/listing/sample-Image3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 541px;
    background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-button-disabled,
.swiper-slide-active {
    background: none;
    color: #FFFFFF;
    font-size: 30px;
    z-index: 9999999;
    opacity: 1;
}

.listing-swipe-slider .swipeslider .slide1 {
    min-height: 360px !important;
    border-radius: 0px;
    z-index: -1;
}